<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.bdm.weatheruz" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".service.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/weather_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/weather_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherUZ"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".screen.AllDailyActivity"
            android:exported="false" />
        <activity
            android:name=".screen.AllHourlyActivity"
            android:exported="false" />
        <activity
            android:name=".screen.WaitingActivity"
            android:exported="true" />
        <activity
            android:name=".screen.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>